.timezone-scale {
    display: block;
    position: absolute;
    top: 0;
    width: 1px;
    height: 16px;
    background: rgba(0,0,0,.25);
    transform: translateX(-50%);
    z-index: 11;

}

.timezone-scale.selected,
.timezone-scale.selected:last-child {
    height: 100px;
}
.timezone-scale .cities {
    display: none;
}
.timezone-scale.selected .cities {
    display: block;
    width: 100px;
    transform: translateX(-50%);
    z-index: 10;
}

.timezone-scale.selected .cities .city {
    top: 40px;
    padding-top: 16px;
    position: relative;
    display: block;
    text-align: center;    

    width: 300px;
    transform: translateX(-50%);
    margin-left: 50%;

}
.timezone-scale.selected .cities .city.placeholder {
    height: 80px;
    box-sizing: border-box;
    // border: 1px dashed rgba(0,0,0,.1);
}
.timezone-scale.selected .cities .city.placeholder:first-child {
    height: 84px;
}


.city-name {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.city-time {
    font-size: 30px;
}
.city-date {
    font-size: 10px;
}
.city-name span,.city-time span,.city-date span{
    background-color: rgba(255,255,255,1);
}
.city-ampm {
    font-size: 10px;
    font-weight: 900;
}
span.postfix {
    font-size: 10px;
}
// <div className={"cities"}>
// <dic className={"city"}>
//   Seoul
// </dic>
// </div>

.timezone-scale-container {
    position: relative;
    width: 100%;
    height: 240px;
    margin-top: 10px;
}