
@import "@material/top-app-bar/mixins";

.button-alternate {
  @include mdc-button-container-fill-color(lightblue);
}

.mdc-top-app-bar__row {
  height: 56px;
}

.mdc-top-app-bar--fixed-adjust {
  padding-top: 56px;
}

.mdc-top-app-bar__section {
  padding: 4px;
}

.mdc-top-app-bar {
//   background-color: #eee;
//   color: #616161;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item {
//   color: #616161;
}

.mdc-top-app-bar__title {
  cursor: default;
}